{% extends "base.html" %}
{% block body %}
<section id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner  bg-warning">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-6 text-center mt-5 py-5">
          <h1 class="fw-bold text-dark text-uppercase">Hi,I'm Mostofa<br>Full Strack Web Developer</h1>
          <P class="text-light">"Hello my dear friends in this site i am going to give a short introduction about
            me.Don’t be lazy to read full
            blog ,I assure that after reading this blog fully you have idea about me."</P>
          <a href="#" class="btn btn-dark text-uppercase fw-bold text-light">Download Resume >></a>
        </div>
        <div class="col-md-6"><img src="https://source.unsplash.com/1900x1200/?Computer" class="d-block w-100"
            alt="...">
        </div>
      </div>
    </div>
  </div>
</section>


<section id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner  bg-dark">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-md-6">
          <img src="https://source.unsplash.com/1900x1200/?microsoft,google" class="d-block w-100" alt="...">
        </div>
        <div class="col-md-6 text-center mt-5 py-5">
          <h1 class="fw-bold text-warning text-uppercase">my project dratils<br>work's example</h1>
          <P class="text-light">"I work on both back-end and front-end programing. I have tried to give my
            project and details on my web site.Front-end web development, also known as client-side development is the
            practice of producing HTML, CSS and JavaScript for a website or Web Application so that a user can see and
            interact with them directly. Back-end web development also known as Server-side Programming deals with three
            major components — application logic, server side programming and database management. Back-end technologies
            brings functionality to the website or application".</P>
          <a href="https://github.com/mostofa247" class="btn btn-warning text-uppercase fw-bold text-light">Project here
            >></a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="mt-5 py-5">
  <div class="container">
    <div>
      <h1 class="text-uppercase fw-bold text-warning text-center bg-dark">My experinece</h1>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80"
        aria-valuemin="0" aria-valuemax="100">HTML-10%</div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100">CSS-60%</div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 80%" aria-valuenow="80"
        aria-valuemin="0" aria-valuemax="100">BOOTSTRAP-80%</div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 60%" aria-valuenow="60"
        aria-valuemin="0" aria-valuemax="100">JAVASCRIPT-60%</div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 65%" aria-valuenow="65"
        aria-valuemin="0" aria-valuemax="100">PYTHON-65%</div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 75%" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100">DJANGO-65%</div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100">SQLITE-65%</div>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 65%" aria-valuenow="65"
        aria-valuemin="0" aria-valuemax="100">POSTGRESQL-65%</div>
    </div>
  </div>
</section>
<!--extra part!-->
<div class="container text-center backg text-warning mt-5 py-5">
  <ul>
    <li><b>Name:</b> Mostofa Kamal</li>
    <li><b>Date of birth:</b> 10-02-2002</li>
    <li><b>Address:</b> Alamdanga,Chuadanga</li>
    <br>

    <h5><b><u>Academic</u></b></h5>
    <li><b>2015-16:</b> Bright Model School,Alamdanga</li>
    <li><b>2017-18:</b> Chuadanga Govt. College,Chuadanga</li>
    <li><b>2020-24:</b> BSC in Software Engineering, Daffodil International University Of Bangladesh</li>

    <br>
    <h5><b><u>Skills</u></b></h5>
    <h6><b><u>Front End:</u></b></h6>
    <li><b>JavaScript [ES6]</b></li>
    <li><b>Jquery,React</b></li>
    <li><b>HTML5</b></li>
    <li><b>CSS3</b></li>
    <li><b>Bootstrap</b></li>
    <br>

    <h6><b><u>Back End:</u></b></h6>
    <li><b>Python</b></li>
    <li><b>Django</b></li>
    <li><b>SQlite,Postgresql</b></li>
    <li><b>API</b></li>
    <li><b>Git,Github</b></li>
    <br>
    <h6><b><u>Also:</u></b></h6>
    <li><b>Programming Problem solving, HackerRank,URI</b></li>
  </ul>
</div>
<br>
{% endblock%}