{% extends "base.html" %}
{% block body %}

<!--CARD 1 !-->
<section class="container mt-5 py-3 backg">
  <div class="alert text-light text-uppercase fw-bold bg-warning text-center" role="alert py-3">
    <h1>
      <<< front-end projects here>>>
    </h1>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-5 py-5">
    <div class="col">
      <div class="shadow-lg rounded border-warning card h-100">
        <img src="https://source.unsplash.com/1900x1200/?HTML,CSS" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title font-weight-bold fw-bold">Project-1</h5>
        </div>
        <div class="card-footer d-flex justify-content-around">
          <a href="https://mostofa247.github.io/HTML-Portfolio2/" class="btn btn-warning text-uppercase fw-bold text-light">Project here
            >></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="shadow-lg rounded border-warning card h-100">
        <img src="https://source.unsplash.com/1900x1200/?laptop" class="card-img-top " alt="...">
        <div class="card-body">
          <h5 class="card-title font-weight-bold fw-bold">Woman Leather Jacket </h5>
        </div>
        <div class="card-footer d-flex justify-content-around">
          <a href="https://mostofa247.github.io/Bootstrap-E-com-project2/" class="btn btn-warning text-uppercase fw-bold text-light">Project here
            >></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="shadow-lg rounded border-warning card h-100">
        <img src="https://source.unsplash.com/1900x1200/?HTML,CSS,Javascript" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title font-weight-bold fw-bold">Yellow Coat Jacket</h5>
        </div>
        <div class="card-footer d-flex justify-content-around">
          <a href="#" class="btn btn-warning text-uppercase fw-bold text-light">Project here
            >></a>
        </div>
      </div>
    </div>
  </div>
</section>
<br>

<!--last part-->
<section class="container mt-5 py-3 bg-dark backg">
  <div class="alert text-light text-uppercase fw-bold bg-warning text-center" role="alert py-3">
    <h1>
      <<< back-end projects here>>>
    </h1>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-5 py-5">
    <div class="col">
      <div class="shadow-lg rounded border-warning card h-100">
        <img src="https://source.unsplash.com/1900x1200/?HTML,CSS,Javascript" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title font-weight-bold fw-bold">Yellow Coat Jacket </h5>
        </div>
        <div class="card-footer d-flex justify-content-around">
          <a href="#" class="btn btn-warning text-uppercase fw-bold text-light">Project here
            >></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="shadow-lg rounded border-warning card h-100">
        <img src="https://source.unsplash.com/1900x1200/?HTML,CSS,Javascript" class="card-img-top " alt="...">
        <div class="card-body">
          <h5 class="card-title font-weight-bold fw-bold">Woman Leather Jacket </h5>
        </div>
        <div class="card-footer d-flex justify-content-around">
          <a href="#" class="btn btn-warning text-uppercase fw-bold text-light">Project here
            >></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="shadow-lg rounded border-warning card h-100">
        <img src="https://source.unsplash.com/1900x1200/?HTML,CSS,Javascript" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title font-weight-bold fw-bold">Yellow Coat Jacket</h5>
        </div>
        <div class="card-footer d-flex justify-content-around">
          <a href="#" class="btn btn-warning text-uppercase fw-bold text-light">Project here
            >></a>
        </div>
      </div>
    </div>
  </div>
</section>
<br>
{% endblock body %}